
.header {
    background-color: #6dd60a;
    width: 100%;
    height: 60px;
}
.footer {
    background-color: #1ca3b4;
    width: 100%;
    height: 120px;
}
.body {
    margin: 0px;
    padding: 0px;
}
.box {
    width: 1000px;
    margin: auto;
}
#firstheading {
    font-size: 60px;
    font-weight: 900;
}
#secondheading {
    font-size: 30px;
}
.thirdheading {
    font-size: 21px;
    font-weight: 700;
}
.list a{
    color: #6dd60a;
    text-decoration: underline;
}
.listb {
    color: #6dd60a;
    text-decoration: underline;
}
ul li::marker {
    color: black;
}
.ndidi {
    font-size: 20px;
}