#body {
    width: 1000px;
    margin: auto;
    padding-bottom: 30px;
    /* font-family: 'Montserrat', sans-serif; */
}
.bold {
    font-weight: 900;
}
.size {
    font-size: 30px;
    padding: 0;
}
.table {
    padding: 15px;
    border-collapse: collapse;
    background-color: #f0fff8;
    border: 1px solid #80ced6;
    width: 100%;
}
.text {

}
.sections {
    box-sizing: border-box;
    padding: 20px;
    background-color: #f0fff8;
    border-radius: 10px;
    border: 1px solid #80ced6;
    font-size: 18px;
    font-weight: 100;
}
.td {
    padding: 10px;
    border: 1px solid #80ced6;

}