.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1140px;
    margin: 20px auto;
 }
header{
    max-height: 70px;
}
.logo1{
    width: 70px;
    height: 70px;
    transition: .5s;
    cursor: pointer;
}
.logo2{
    width: 40px;
    height: 40px;
    transition: .5s;
    cursor: pointer;
}
img{
    width: 100%;
    display: block;
}
 .nav1{
    display: flex;
    gap: 15px;
 }
 .nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
 .menu{
    text-decoration: none;
    color: black;
    transition: .5s;
    font-weight: 500;
 }
 .menu:hover{
    color: blueviolet;
 }
.logo2:hover{
    scale: 1.1;
 }
 .logo1:hover{
    scale: 1.1;
 }
.main1{
    margin: 20px auto;
    max-width: 1140px;
    width: 90%;
}
.ch{
    margin: 20px auto;
    cursor: pointer;
    transition: .7s;
}
.ch:hover{
    scale: 1.05;
    color: blueviolet;
    /* background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    /* filter: grayscale(50%); */
    /* opacity: ; */ 
}
 h1{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: grey;
}
.news{
    margin: 20px auto;
    gap: 30px;
    display: flex;
    border-radius: 100%;
}
.news-txt{
    margin: 10px auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.news-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.result{
    width: 100%;
    height: 250px;
    display: block;
}
 /* .side{
    width: 200px;
    height: 1000px;
 } */
 /* .side-img{
    width: 200px;
    height: 600px;
    object-fit: cover;
 } */