.box{
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 300px;
    margin: 100px auto 0 auto;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-in 0.7s;
    background-color: green;
}
.box:hover{
    background-color: black;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.img{
    transition: all,0.5s;
    scale: 1;
    width: 100%;
    height: 100%;
    position: relative;
}
.img:hover{
    transform: translatey(-300px);
    scale: 0.67;
}
.box:hover .img-1{
    transform: translatey(-305px);
    scale: 0.6;
}
.box:hover .img-2{
    transform: translatey(-280px);
    scale: 1.1;
}
.box-animation1,.box-animation2{
    position: absolute;
    width: 25px;
    height: 25px;
    animation-iteration-count:infinite;
    animation-delay: 1s;
    animation-duration: 3s;
}
.box-animation1{
    background-color: green;
    animation-name: box-animation1;  
}
.box-animation2{
    background-color: red;
    animation-name: box-animation2;
    animation-direction: reverse;
}
@keyframes box-animation1 {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    25%{
        transform: translateX(170px) translateY(0px);
    }
    50%{
        transform: translateX(170px) translateY(270px) ;
        border-radius: 15px;
    }
    75%{
        transform: translateX(0px) translateY(270px);
    }
    100%{
        transform: translateX(0px) translateY(0px);
    }
}
@keyframes box-animation2 {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    25%{
        transform: translateX(170px) translateY(0px);
    }
    50%{
        transform: translateX(170px) translateY(270px) ;
    }
    75%{
        transform: translateX(0px) translateY(270px);
    }
    100%{
        transform: translateX(0px) translateY(0px);
    }
}